@import '../../global-styles.css';

.heading-container {
    padding: 110px 0px;
}

.heading {
    background-color: var(--color-bg-secondary);
}

.heading h1 {
    line-height: 1;
}

.heading p {
    line-height: 1.5;
    margin-top: 1em;
}