@import './global-styles.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font-main);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: var(--color-bg-primary);
    font-size: var(--font-size-main-mobile);
    cursor: default;
  }

h1 {
    font-size: var(--font-size-mobile-h1);
}

h1 {
    font-family: var(--font-header);
    font-size: var(--font-size-mobile-h1);
}

.container {
    max-width: 1230px;
    padding: 0 1em;
    margin: auto;
}

p {
    max-width: 62.5rem;
}

@media screen and (min-width: 600px) {
    body {
        font-size: var(--font-size-main-desktop);
    }
    h1 {
        font-size: var(--font-size-desktop-h1);
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
